.row, .column {
  /* By default, box-sizing is set to content-box */
  box-sizing: border-box;
}

.row {
  /* Let's add a border so we can see our rows better */
  border: 2px solid tomato;
  border-radius: 20px;
  text-align: center;
}

.column {
  /* Let's add another border so we can see our columns better */
  border: 2px solid rebeccapurple;
  float: left;
  border-radius: 20px;
  text-align: center;
  /*space between columns*/
  margin-bottom: 1%;
  position: relative;
}

.header > .column,
.footer > .column {
  padding: 25px;
}

/* .middle > .column {
  height: 100px;
  line-height: 100px;
} */

.header ul {
  margin: auto;
}

.header li {
  display: inline-block;
  list-style-type: none;
}

.module {
  /* Let's add a background color to our modules so they're clearly visible.*/
  background: lightblue;

  /* Now let's give our modules a left and right margin of 10px */
  margin: 0 10px 0 10px;
}

.column .column {
  border: 2px solid springgreen;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  position: relative;
}

.allShows {
  border: solid 2px grey;
  background-color: aliceblue;
  display: block;
  margin: 1em;
  border-radius: 20px;
  cursor: pointer;
  padding: 1em;
  transition: 0.5s ease-out;
  font-family: "Arial Black", Gadget, sans-serif;
}

.allShows:hover{
  background-color: #CBDAE6;
  transition: 0.5s ease-out;
}

.allSongsContainer {
  border: solid 2px grey;
  background-color: aliceblue;
  display: block;
  margin: 1em;
  border-radius: 20px;
  cursor: pointer;
  padding: 1em;
  transition: 0.5s ease-out;
}

.allSongs {
  transition: 0.5s ease-out;
  border-radius: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  cursor: pointer;
}

.allSongs:hover {
  display: block;
  background-color: #CBDAE6;
  transition: 0.5s ease-out;
}

.showHeading {
  font-size: 1rem;
  font-family: "Arial Black", Gadget, sans-serif;
  margin-bottom: 1em;
}

.yearButtons {
  border: solid 2px grey;
  background-color: aliceblue;
  margin: 1em;
  border-radius: 20px;
  cursor: pointer;
  padding: 1em;
  transition: 0.5s ease-out;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

button {
  border: solid 2px grey;
  background-color: aliceblue;
  border-radius: 20px;
  cursor: pointer;
  padding: 1em;
  transition: 0.5s ease-out;
  font-family: "Arial Black", Gadget, sans-serif;
}

button:hover {
  background-color: #CBDAE6;
}


.column-1 { width: 8.333%; }
.column-2 { width: 16.66%; }
.column-3 { width: 25%; }
.column-4 { width: 33.33%; }
.column-5 { width: 41.66%; }
.column-6 { width: 50%; }
.column-7 { width: 58.33%; }
.column-8 { width: 66.66%;}
.column-9 { width: 75%; }
.column-10 { width: 83.33%; }
.column-11 { width: 91.66%; }
.column-12 { width: 100%; }


.BiscoLyrics {
  margin-top: 25vh;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

/*Media Query*/
@media only screen
    and (max-device-width: 640px),
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px)
{
  .yearButtons p{
    font-size: 3em;
  }
  button {
    font-size: 2em;
    margin: 0.5em;
    padding: 2.5em;
  }
  #allShows {
    font-size: 3em;
    margin-left: 3px;
    margin-top: 2em;
    padding: 1em;
    width: 89%;
  }
  #allSongs {
    font-size: 0.5em;
    padding: 2em;
    border: solid 2px grey;
    width: 85%;
  }
  audio::-webkit-media-controls-play-button {
    width: 100px;
    height: 50px;;
  }
  .player {
    width: inherit;
  }
}